<div class="container1_banner" style="background-color:SkyBlue">
    <div class="box_banner">
        <%= image_tag ("/images/EventNowCircles.png") %>
      <%= image_tag ("/images/EventNow.png") %>
    </div>
</div>


<div class="container2_navbar">
  <nav class="navbar navbar-toggleable-md navbar-light bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"  data-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle   navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://localhost:3000/"><font color=white>Home</font><span class="sr-only">(current)</span></a>
            </li>
              <a class="nav-link" href="http://localhost:3000/artwork"><font color=white>Artwork</font><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3000/events" target="blank"><font color=white>Events</font></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3000/reviews"><font color=white>Reviews</font></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
        </form>
      </div>
  </nav>
</div>

<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<div id="links">
  <% (1..10).each do |i| %>
    <a href="/images/<%= i %> r.jpg" title="Art" >
        <img src="/images/<%= i %> t.jpg" alt="Art">
    </a>
  <% end %>
</div>
<script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>

<%= javascript_include_tag 'blueimp-gallery' %>
<%= stylesheet_link_tag 'blueimp-gallery' %>
