<div class="container1_banner" style="background-color:SkyBlue">
    <div class="box_banner">
      <center><p><font size="10" color="white">EventNOW</font></p></center>
    </div>
</div>


<div class="container2_navbar">
  <nav class="navbar navbar-toggleable-md navbar-light bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"  data-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle   navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"><font color=white>Artwork</font><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><font color=white>Events</font></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><font color=white>About</font></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
        </form>
      </div>
  </nav>
</div>


<div class="container3_info">
  <div class="box_info">
    <div>
      <p><h3>Find local South Florida art events.</h3></p>
      <p><h3>This months local event features: Miami art week.</h3></p>
      <p><h3>Expierence Miami culture and live the art.</h3></p>
      </p>
    </div>
  </div>

  <div class="box_address">
    <p><h2>Miami Beach Convention Center</h2></p>
    <p><h2>31901 Convention Center Drive</h2></p>
    <p><h2>Miami Beach, FL 33139</h2></p>
  </div>
</div>

<div class="container4_additional_info">
  <div class="box_map">
    <%= image_tag ("/images/miami_map_holder.jpg") %>
  </div>

  <div class="box_party_pic">
    <div class="party_pic">
        <%= image_tag ("/images/party.jpg") %>
        <div class="top centered"><h3>Join the fun!<h3>
        </div>
    </div>
  </div>

    <div class="box_art_basel_logo">
      <div>
          <%= image_tag ("/images/artbasel.png") %>
      </div>
    </div>

</div>



<div class="container5_art_pictures" style="background-color:SkyBlue">
<div class="art_pics" >
    <div class="images">
      <ul>
        <%= image_tag ("/images/pic1.jpg") %>
        <%= image_tag ("/images/pic2.jpg") %>
        <%= image_tag ("/images/pic3.jpg") %>
        <%= image_tag ("/images/pic4.jpg") %>
      </ul>
  </div>
</div>
</div>



<footer>
  <div class="footer_content">
  <font color="white" class="credit">&copy; Copyright 2017</font>
</footer>
