<<<<<<< HEAD
<!DOCTYPE html>
<html>
<head>
	<title>Art Basel Events</title>
</head>
<body>




<h1 id="head">Events</h1>

<% @entriesArray.each do |entry| %>
  <div class="event">
  	<!-- <div class="event-wrapper"> -->
	  	<div class="image"><img src="<%= entry.image %>"></div>
	  		<div class="text-wrapper">
			  	<h3 class="title"><%= entry.title %></h3>
			  	<h5 class="date"><%= entry.date %></h5>
			  	<div class="venue"><%= entry.venue %></div>
		  	</div>
  	<!-- </div> -->
=======
<h1>Events</h1>

<% @entriesArray.each do |entry| %>
  <div class="event">
  	<div class="image"><img src="<%= entry.image %>"></div>
  	<div class="title"><%= entry.title %></div>
  	<div class="date"><%= entry.link %></div>

>>>>>>> fe
  </div>

<% end %>
